.card-wrapper {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin: 0 auto;
  filter: var(--card-shadow-filter);

  .card {
    display: flex;
    background: #fafafa;
    border-radius: 24px;
    padding: 20px;
    min-height: calc(100vh - 320px);
  }
}
