<div class="table-wrapper">
  <div class="action-button">
    <button
      *ngIf="isShowCheckbox"
      nz-button
      nz-popconfirm
      [nzPopconfirmTitle]="
        setOfCheckedId.size == 0
          ? ('home.payerList.popup.deleteAll' | translate)
          : ('home.payerList.popup.deleteSelected'
            | translate : { count: setOfCheckedId.size })
      "
      [nzOkText]="'common.button.ok' | translate"
      [nzCancelText]="'common.button.cancel' | translate"
      nzType="default"
      nzDanger
      (nzOnConfirm)="deleteItemList()"
    >
      {{
        setOfCheckedId.size > 0
          ? ('home.payerList.button.deleteSelected' | translate)
          : ('home.payerList.button.deleteAll' | translate)
      }}
    </button>
    <button nz-button nzType="default" (click)="toggleCheckbox()">
      {{
        isShowCheckbox
          ? ('common.button.cancel' | translate)
          : ('home.payerList.button.select' | translate)
      }}
    </button>
    <ng-template #confirmDeleteTemplate>
      <span nz-icon nzType="question-circle-o" style="color: red"></span>
    </ng-template>
  </div>
  <nz-table
    *ngIf="listOfPayer.length > 0"
    class="item-list"
    #payerTable
    [nzData]="listOfPayer"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th
          *ngIf="isShowCheckbox"
          [nzWidth]="'12px'"
          [nzChecked]="isAllChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th [nzWidth]="'12px'"></th>
        <th>{{ 'home.payerList.table.name' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of payerTable.data">
        <tr>
          <td
            *ngIf="isShowCheckbox"
            [nzChecked]="setOfCheckedId.has(data.id)"
            (nzCheckedChange)="onItemChecked(data.id, $event)"
          ></td>
          <td
            [nzExpand]="expandSet.has(data.id)"
            (nzExpandChange)="onExpandChange(data.id, $event)"
            [class.hide]="data.children.length == 0"
          ></td>
          <td (click)="openPayerListModal(modalType.Update, data.id)">
            {{ data.name }}
            <span *ngIf="data.children.length > 0">และเพื่อน</span>
          </td>
        </tr>
        <tr [nzExpand]="expandSet.has(data.id)">
          <nz-tag *ngFor="let child of data.children">{{ child.name }}</nz-tag>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
  <div class="button-wrapper">
    <button
      nz-button
      nzType="dashed"
      nzBlock
      [nzSize]="'large'"
      (click)="openPayerListModal(modalType.Create)"
    >
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      {{ 'home.payerList.button.add' | translate }}
    </button>
  </div>
</div>
