<form nz-form [formGroup]="itemListForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired nzFor="name"
      >{{ 'home.itemList.modal.form.name' | translate }}
    </nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      [nzErrorTip]="'home.itemList.modal.form.nameError' | translate"
    >
      <input nz-input formControlName="name" id="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired nzFor="quantity"
      >{{ 'home.itemList.modal.form.quantity' | translate }}
    </nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      [nzErrorTip]="'home.itemList.modal.form.quantityError' | translate"
    >
      <input
        nz-input
        formControlName="quantity"
        id="quantity"
        inputmode="numeric"
        pattern="[0-9]*"
        type="number"
        min="0"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="12" nzRequired nzFor="price"
      >{{ 'home.itemList.modal.form.price' | translate }}
    </nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      [nzErrorTip]="'home.itemList.modal.form.priceError' | translate"
    >
      <input
        nz-input
        formControlName="price"
        id="price"
        inputmode="numeric"
        pattern="[0-9]*"
        type="number"
      />
    </nz-form-control>
  </nz-form-item>
  <button
    *ngIf="type == modalType.Update"
    nz-button
    nzType="primary"
    nzBlock
    nzDanger
    (click)="deleteItem()"
  >
    {{ 'home.itemList.modal.form.delete' | translate }}
  </button>
</form>
