<div class="main-wrapper">
  <div class="product-logo">
    <div class="product-name">Check Bill</div>
  </div>
  <div class="bill-wrapper">
    <div class="bill bill-top"></div>
    <div class="separator"></div>
    <div class="bill bill-bottom">
      <div class="qrcode-wrapper">
        <div class="qrcode--text">Scan to Pay</div>
        <div class="qrcode--image">
          <img src="https://www.computalabel.com/Images/C128.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <span
      >Made with ❤ by
      <a
        href="https://github.com/chatreejs"
        target="_blank"
        rel="noopener noreferrer"
        >Chatree.js</a
      ></span
    >
  </div>
</div>
