.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  span {
    color: #fafafa;

    &.version {
      margin-top: 0.25rem;
      font-size: 12px;
    }
  }

  a {
    color: #fafafa;
    text-decoration: underline;
    font-weight: 600;
    margin-left: 0.25rem;
  }
}
